body {
    height: 100vh;
    margin: 0;
    background-color: #FF746C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    color: whitesmoke;
    padding: 40px;
}

.content {
    border-style: dotted;
    border-color: black;
}